.container {
    display: table;
    width: 400px;
    margin: 20px auto;
    background-color: yellow;
    color: ivory;
    height: 120px;
    position: relative;
    border-radius: 20px;
}

.tableRow {
    display: table-row;
}

.tableCell {
    display: table-cell;
}

.messageBlock {
    margin: 20px 10px 10px 10px;
    padding: 5px;
    width: 75%;
    background-color: brown;
    border-radius: 10px 10px 10px 0px;
    display: inline-block;
    overflow: auto;
    overflow-wrap: normal;
    word-break: break-word;
}